@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top left, #43454d, #101426);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

h1,
p,
a,
button {
  font-family: "Onest", sans-serif;
  color: #fefefe;
}

#canvas {
  pointer-events: none;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Tailwind is being buggy and not applying my colours sometimes so I have to define them here :| */
.border-bv-blue {
  border-color: #4397db;
}

.border-bv-purple {
  border-color: #8a52ca;
}

.border-bv-orange {
  border-color: #e68d27;
}

.bg-bv-blue {
  background-color: #4397db;
}

.bg-bv-purple {
  background-color: #8a52ca;
}

.bg-bv-orange {
  background-color: #e68d27;
}

.list-font-size {
  font-size: 1rem;
}

.list-font-size-sm {
  font-size: 0.8rem;
}

@media (max-width: 1600px) {
  .list-font-size {
    font-size: 1vw;
  }
}

@media (max-width: 1600px) {
  .list-font-size-sm {
    font-size: 0.8vw;
  }
}

/*  Styled scroll bar */
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #43454d;
}
body::-webkit-scrollbar-thumb {
  background-color: #5e70be;
  border-radius: 10px;
  border: 3px solid #43454d;
}
